
incremental_db/compiled_partitions/FinalProject.root_partition.cmp.cdb
incremental_db/compiled_partitions/FinalProject.root_partition.cmp.dfp
incremental_db/compiled_partitions/FinalProject.root_partition.cmp.hbdb.cdb
incremental_db/compiled_partitions/FinalProject.root_partition.cmp.hbdb.hdb
incremental_db/compiled_partitions/FinalProject.root_partition.cmp.hbdb.sig
incremental_db/compiled_partitions/FinalProject.root_partition.cmp.hdb
incremental_db/compiled_partitions/FinalProject.root_partition.cmp.logdb
incremental_db/compiled_partitions/FinalProject.root_partition.cmp.rcfdb
incremental_db/compiled_partitions/FinalProject.root_partition.map.cdb
incremental_db/compiled_partitions/FinalProject.root_partition.map.dpi
incremental_db/compiled_partitions/FinalProject.root_partition.map.hbdb.cdb
incremental_db/compiled_partitions/FinalProject.root_partition.map.hbdb.hb_info
incremental_db/compiled_partitions/FinalProject.root_partition.map.hbdb.hdb
incremental_db/compiled_partitions/FinalProject.root_partition.map.hbdb.sig
incremental_db/compiled_partitions/FinalProject.root_partition.map.hdb
incremental_db/compiled_partitions/FinalProject.root_partition.map.kpt
incremental_db/compiled_partitions/FinalProject.rrp.hdb
incremental_db/compiled_partitions/FinalProject.rrs.cdb
incremental_db/README
db/.cmp.kpt
db/cmpr_0bc.tdf
db/cntr_umj.tdf
db/FinalProject.(0).cnf.cdb
db/FinalProject.(0).cnf.hdb
db/FinalProject.(1).cnf.cdb
db/FinalProject.(1).cnf.hdb
db/FinalProject.(2).cnf.cdb
db/FinalProject.(2).cnf.hdb
db/FinalProject.(3).cnf.cdb
db/FinalProject.(3).cnf.hdb
db/FinalProject.(4).cnf.cdb
db/FinalProject.(4).cnf.hdb
db/FinalProject.(5).cnf.cdb
db/FinalProject.(5).cnf.hdb
db/FinalProject.(6).cnf.cdb
db/FinalProject.(6).cnf.hdb
db/FinalProject.(7).cnf.cdb
db/FinalProject.(7).cnf.hdb
db/FinalProject.(8).cnf.cdb
db/FinalProject.(8).cnf.hdb
db/FinalProject.asm.qmsg
db/FinalProject.asm.rdb
db/FinalProject.cmp.bpm
db/FinalProject.cmp.cdb
db/FinalProject.cmp.hdb
db/FinalProject.cmp.idb
db/FinalProject.cmp.logdb
db/FinalProject.cmp.rdb
db/FinalProject.cmp_merge.kpt
db/FinalProject.cyclonev_io_sim_cache.ff_0c_fast.hsd
db/FinalProject.cyclonev_io_sim_cache.ff_85c_fast.hsd
db/FinalProject.cyclonev_io_sim_cache.tt_0c_slow.hsd
db/FinalProject.cyclonev_io_sim_cache.tt_85c_slow.hsd
db/FinalProject.db_info
db/FinalProject.fit.qmsg
db/FinalProject.hier_info
db/FinalProject.hif
db/FinalProject.lpc.html
db/FinalProject.lpc.rdb
db/FinalProject.lpc.txt
db/FinalProject.map.ammdb
db/FinalProject.map.bpm
db/FinalProject.map.cdb
db/FinalProject.map.hdb
db/FinalProject.map.kpt
db/FinalProject.map.logdb
db/FinalProject.map.qmsg
db/FinalProject.map.rdb
db/FinalProject.map_bb.cdb
db/FinalProject.map_bb.hdb
db/FinalProject.map_bb.logdb
db/FinalProject.pre_map.hdb
db/FinalProject.quiproj.12844.rdr.flock
db/FinalProject.root_partition.map.reg_db.cdb
db/FinalProject.routing.rdb
db/FinalProject.rtlv.hdb
db/FinalProject.rtlv_sg.cdb
db/FinalProject.rtlv_sg_swap.cdb
db/FinalProject.sld_design_entry.sci
db/FinalProject.sld_design_entry_dsc.sci
db/FinalProject.smart_action.txt
db/FinalProject.smp_dump.txt
db/FinalProject.sta.qmsg
db/FinalProject.sta.rdb
db/FinalProject.sta_cmp.6_slow_1100mv_85c.tdb
db/FinalProject.tis_db_list.ddb
db/FinalProject.tiscmp.fast_1100mv_0c.ddb
db/FinalProject.tiscmp.fast_1100mv_85c.ddb
db/FinalProject.tiscmp.slow_1100mv_0c.ddb
db/FinalProject.tiscmp.slow_1100mv_85c.ddb
db/FinalProject.tmw_info
db/FinalProject.vpr.ammdb
db/FinalProject_partition_pins.json
output_files/FinalProject.asm.rpt
output_files/FinalProject.done
output_files/FinalProject.fit.rpt
output_files/FinalProject.fit.smsg
output_files/FinalProject.fit.summary
output_files/FinalProject.flow.rpt
output_files/FinalProject.jdi
output_files/FinalProject.map.rpt
output_files/FinalProject.map.summary
output_files/FinalProject.pin
output_files/FinalProject.sld
output_files/FinalProject.sof
output_files/FinalProject.sta.rpt
output_files/FinalProject.sta.summary
incremental_db/compiled_partitions/FinalProject.db_info
incremental_db/compiled_partitions/FinalProject.root_partition.cmp.ammdb
Waveform1.vwf
Waveform.vwf
simulation/qsim/work/_vmake
simulation/qsim/work/_lib1_1.qtl
simulation/qsim/work/_lib1_1.qpg
simulation/qsim/work/_lib1_1.qdb
simulation/qsim/work/_lib.qdb
simulation/qsim/work/_info
simulation/qsim/Waveform1.vwf.vht
simulation/qsim/Waveform.vwf.vht
simulation/qsim/vwf_sim_transcript
simulation/qsim/transcript
simulation/qsim/FinalProject_modelsim.xrf
simulation/qsim/FinalProject_20211129212757.sim.vwf
simulation/qsim/FinalProject_20211129212723.sim.vwf
simulation/qsim/FinalProject_20211129212614.sim.vwf
simulation/qsim/FinalProject_20211129205229.sim.vwf
simulation/qsim/FinalProject.vho
simulation/qsim/FinalProject.sft
simulation/qsim/FinalProject.msim.vcd
simulation/qsim/FinalProject.do
output_files/FinalProject.eda.rpt
db/FinalProject.(9).cnf.cdb
db/FinalProject.(9).cnf.hdb
db/FinalProject.cbx.xml
db/FinalProject.eda.qmsg
db/FinalProject.quiproj.16132.rdr.flock
db/prev_cmp_FinalProject.qmsg
